@font-face {
  font-family: "Century Gothic Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Regular"), url("#{$rootpath}fonts/GOTHIC.woff") format("woff");
}
@font-face {
  font-family: "Century Gothic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Italic"), url("#{$rootpath}fonts/GOTHICI.woff") format("woff");
}
@font-face {
  font-family: "Century Gothic Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Bold"), url("#{$rootpath}fonts/GOTHICB.woff") format("woff");
}
@font-face {
  font-family: "Century Gothic Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Bold Italic"), url("#{$rootpath}fonts/GOTHICBI.woff") format("woff");
}
/* gothic */
@font-face{
  font-family: gothic;
  font-style:normal;
  font-weight:400;
  src: local('gothic'),local('gothic'), url("#{$rootpath}fonts/gothic?#iefix") format('embedded-opentype'),url("#{$rootpath}fonts/gothic/GOTHIC.woff2") format('woff2'),url("#{$rootpath}fonts/gothic/GOTHIC.woff") format('woff'),url("#{$rootpath}fonts/gothic/gothic.ttf") format('truetype'),url("#{$rootpath}fonts/gothic/GOTHIC.svg#gothic") format('svg');
}