.header {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(158,156,158,1);
  -moz-box-shadow: 1px 2px 5px 0px rgba(158,156,158,1);
  box-shadow: #ccc 0 2px 5px;
  box-sizing: border-box;
  padding: 0 15px; /* fix row boostrap */
  background-color: $headerBackground;
}
.logo {
  padding: 5px;
  img {
	width:auto;
	height:auto;
	max-width:100%;
	max-height: 140px;
  }
}
.col-search {
  padding-right: 0px;
}
.select2-no-results,.select2-hidden-accessible,.select2-hidden {
  display: none !important;
}
.select2-results {
  margin: 0 !important;
}

.form-search,.link-menu {
  padding: 20px;
}
.form-search {
  text-align: right;
  padding-right: 15px;
  input,button {
    font-family: Century Gothic Regular;
    height: 50px;
    font-size: 18px;
    border-color: $buttonColor;
    border-width: 2px;
  }
  input {
    border-right: 0;
  }
  button {
    background-color: $buttonColor;
  }
  button:hover {
    background-color: #ad000b;
    border-color: #ad000b;
  }
}
.link-menu {
  padding: 0px 20px;
  box-sizing: border-box;

  .link,.caret {
    font-family: inherit;
    font-size: 16px;
    color: #333;
    margin-right: 20px;
    font-weight: 400;
  }
  .link {
    padding-bottom: 10px;
    margin-bottom: 0;
    display: inline-block;
  }
  .link:hover {
    border-bottom: 2px  $buttonColor solid;
    text-decoration: none;
  }
  .dropdown:hover {
    .link {
      position: relative;
    }
    .dropdown-menu{
      display: block;
    }

  }
  .dropdown-menu {
    border-radius: 0;
    border-top:0;
    box-shadow: #ccc 0 2px 5px;
	li{
	  padding:5px;
	  a{
		padding:10px;
	  }
	}
  }
}


#content {
  margin-top: 124px;
}
//Search-box css
.form-search{
  .select2-container{
    height : auto;
    background: 0 0;
    box-shadow: none;
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    zoom: 1;
    vertical-align: middle;
    .select2-choices{
      border-radius: 2px;
      line-height: 30px;
      border-color: #ccc;
      color: #555;
      background: 0 #fff;
      padding: 0;
      height: auto!important;
      margin: 0;
      position: relative;
      cursor: text;
      overflow: hidden;
      min-height: 26px;
      .select2-search-field{
        margin: 0;
        padding: 0;
        white-space: nowrap;
        float: left;
        list-style: none;
        width: 100%;
        .select2-offscreen{
          width: 1px!important;
          height: 1px!important;
          position: absolute!important;
          clip: rect(0 0 0 0)!important;
          border: 0!important;
          margin: 0!important;
          padding: 0!important;
          overflow: hidden!important;
          outline: 0!important;
          left: 0!important;
        }
        input{
          border-radius: 2px;
          line-height: 30px;
          padding: 6px 12px;
          width: 100%!important;
          border: 2px solid red;
        }
      }
    }
  }
  .select2-offscreen{
    width: 1px!important;
    height: 1px!important;
    position: absolute!important;
    clip: rect(0 0 0 0)!important;
    border: 0!important;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden!important;
    outline: 0!important;
    left: 0!important;
  }
}
#s2id_autogen1{
  .select2-display-none {
    display: none;
  }
  .select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
    .select2-results {
      max-height: 200px;
      padding: 0 0 0 4px;
      margin: 4px 4px 4px 0;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-tap-highlight-color: transparent;
    }
  }
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop-active {
  border-color: #66afe9;
}
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  box-shadow: 0 4px 5px rgba(0,0,0,.15);
}
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.select2-results .select2-ajax-error, .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}
.select2-results li {
  list-style: none;
}
.search-form .select2-container-multi .select2-choices .select2-search-choice {
  line-height: 25px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  color: #555;
  background: #fff;
  border-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
  margin-bottom: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 6px 0 3px 5px;
  position: absolute;
  cursor: default;
  border: 1px solid #aaa;
  border-radius: 3px;
  user-select: none;
}
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}
.select2-search-choice-close {
  margin-top: -7px;
  top: 50%;
}
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 19px;
  font-size: 1px;
  outline: 0;
  background: url(../../js/src/libs/select2/select2.png) right top no-repeat;
}
.select2-result-label{
  cursor: pointer;
  :hover{
    background-color: #337AB7;
  }
}
.sl-domain {
  margin-left: 15px;
  color: #aaa;
}
.select2-results li.select2-result .col-sm-12 div div {
	padding: 5px;
}
@media screen and (min-width: 505px) {
  #content {
	margin-top: 124px;
  }
  .navbar-fixed-top.wrap-header {
	position: fixed;
  }
}

@media screen and (max-width: 505px) {
  #content {
	margin-top: 0px;
  }
  .navbar-fixed-top.wrap-header {
	position: relative;
  }
  .logo {
	text-align: center;
	margin: auto;
	width: auto;
  }
  .link-menu {
	padding: 5px;
	.link,.caret {
	  font-size: 15px;
	}
	.link{
	  margin-right: 5px;
	}
  }
	.header .cl {
	  display: block;
	  padding: 5px;
	  margin: 1px;
	  width: 100%;
	  float: none;
	}
  .form-search {
	padding: 5px;
  }
}

//loading
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}