@import 'app';
.breadcrumb {
  margin-bottom: 1px;
}
.info {
  width: 100%;
  height: 125px;
  display: block;
  margin: 10px 0;
  margin-top: 0px;
  padding: 0px;
  background-color: #fbfbfb;
  clear: both;
  	.info-item {
	  float:left;
	}

	.info-image {
	  width: 125px;
	  display: inline-block;

	  .info-wrap {
		background-color: #fff;
		border: 1px solid #ccc;
		width: 123px;
		height: 123px;
		position: relative;

		img {
		  position: absolute;
		  margin: 0;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  max-width: 100px;
		  max-height: 100px;
		}
	  }
	}
	.info-content {
	  @include calc(width, '100% - 310px');
	  height: 123px;
	  display: inline-block;
	  padding: 10px;
	  padding-left: 30px;
	  .info-content-title {
		h1 {
		  padding: 0;
		  margin: 0;
		  margin-bottom: 10px;
		  font-size: 26px;
		  font-weight: bold;
		  @include clamp(1);
		  max-height: 30px;
		}
	  }
	  .info-content-desc {
		max-height: 46px;
		overflow: hidden;
		word-wrap: break-word;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		position: relative;
	  }
	}

	.info-go {
	  width: 175px;
	  height: 123px;
	  display: inline-block;
	  position: relative;
	  .btn {
		background-color: rgba(0,0,0,0);
		border: 2px solid #f44242;
		color: #cc0000;
		font-weight: bold;
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 8px;

	  }
	  .btn:hover {
		background-color: rgba(230, 0, 0,0.9) ;
		color: #fff;
	  }

	}


}

@media screen and (max-width: 700px) {
  .info {
	.info-item {
	  float:left;
	}

	.info-image {
	  width: 125px;
	  display: inline-block;

	  .info-wrap {
		background-color: #fff;
		border: 1px solid #ccc;
		width: 123px;
		height: 123px;
		position: relative;

		img {
		  position: absolute;
		  margin: 0;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  max-width: 100px;
		  max-height: 100px;
		}
	  }
	}
	.info-content {
	  @include calc(width, '100% - 125px');
	  height: 123px;
	  display: inline-block;
	  padding: 10px;
	  .info-content-title {
		h1 {
		  padding: 0;
		  margin: 0;
		  margin-bottom: 10px;
		  font-size: 26px;
		  font-weight: bold;
		  @include clamp(1);
		  max-height: 30px;
		}
	  }
	  .info-content-desc {
		max-height: 70px;
		@include clamp(3);
		position: relative;
	  }
	}

	.info-go {
	  text-align: center;
	  width: 100%;
	  height: 45px;
	  background-color: #fff;
	  display: block;
	  position: relative;
	  .btn {
		width: 80%;

	  }

	}


  }
}

.box-show .row {
  margin: 0;
  	.filter-box {
	  margin-bottom: 15px;
	  .btn {
		background-color: #fff;
		font-weight: bold;
		margin-right: 10px;
	  }
	  .btn-active {
		background-color: #f66D9b;
		color: #fff;
	  }
	}
  	.box-list {
		.box-item {
		  .box-item-wrap {
			margin: 10px 0;
			padding: 0;
			height: 115px;
			width: 100%;
			.box-item-img {
			  width: 115px;
			  height: 100%;
			  position: relative;
			  display: inline-block;

			  .box-img-wrap {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				.box-text-top {
				  color: #3f94e4;
				  font-size: 26px;
				  margin-bottom: 1px;
				}
				.box-text-type {
				  color: #3f94e4;
				  font-size: 14px;
				}
			  }
			}
			.box-item-body {
			  @include calc(width, '100% - 120px');
			  display: inline-block;
			  padding: 5px;
			  .box-item-btn {
				width: 180px;
				height: 115px;
				display: inline-block;
				position: relative;
				.box-item-btn-wrap {
				  width: 100%;
				  position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  .btn {
					width: 90%;
					padding: 10px 8px;
					font-weight: bold;
				  }
				}
			  }
			  .box-item-body-content {
				@include calc(width, '100% - 185px');
				display: inline-block;
				float: left;
				.box-item-title {
				  h2 {
					margin: 0;
					padding: 5px 0;
					font-weight: bold;
				  }
				}
				.box-item-desc {
				  @include clamp(1);
				  height: 24px;
				}
				.box-item-expire {
				  font-size: 14px;
				  color: #888;
				}

			  }
			}
		  }
		}
	}
  	.box-item-wrap, .wrap-side-bar {
	  border:1px solid #ccd;
	  border-radius: 2px;
	  background-color: #fff;
	  padding: 10px;
	}
  	.wrap-side-bar {
	  font-size: 13px;
	  h2 {
		font-size: 25px;
		font-weight: bold;
	  }
	}
}

@media screen and (max-width: 700px) {

  .box-show .row {
	margin: 0;
	.filter-box {
	}
	.box-list {
	  .box-item {
		.box-item-wrap {
		  height: auto;
		  .box-item-img {
			height: 115px;
			.box-img-wrap {
			  .box-text-top {
			  }
			  .box-text-type {
			  }
			}
		  }
		  .box-item-body {
			.box-item-btn {
			  width: 100%;
			  height: 70px;
			  .box-item-btn-wrap {
				.btn {
				}
			  }
			}
			.box-item-body-content {
			  width: 100%;
			  float: left;
			  .box-item-title {
				h2 {
				}
			  }
			  .box-item-desc {
			  }

			}
		  }
		}
	  }
	}


  }
}

.about-this {
  padding: 15px;
  h1, h4 {
	font-weight: bold;
  }
}


/* modal */

.store-modal {
  .modal-header {
	text-align: center;
  }
  .modal-body {
	text-align: center;
  }
  .wrap-copy {
	background-color: #E0E0E0;
	height: 45px;
	width: 90%;
	margin: auto;
	position: relative;
  }
  .store-img {
	width: 100%;
	max-height: 100px;
	margin: 15px 0;
	img {
	  max-height: 100px;
	  max-width: 100%;
	}
  }
  #select-copy {
	border:2px dashed #f44242;
	background-color: #E0E0E0;
	height: 45px;
	width: 100%;
	padding-right: 110px;
	text-align: center;
	position: relative;
  }
  .input-copied {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	height: 45px;
	line-height: 45px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: rgba(50,50,50, 0.8);
	color: gold;
  }
  .btn-copy {
	background-color: #7FBA00;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 45px;
	color: #fff;
	font-weight: bold;
  }
  .btn-copy:before {
	content: "";
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #7FBA00 transparent;
	top: 12px;
	left: -6px;
  }
}