@font-face {
  font-family: "Century Gothic Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Regular"), url("fonts/GOTHIC.woff") format("woff");
}
@font-face {
  font-family: "Century Gothic Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Italic"), url("fonts/GOTHICI.woff") format("woff");
}
@font-face {
  font-family: "Century Gothic Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Bold"), url("fonts/GOTHICB.woff") format("woff");
}
@font-face {
  font-family: "Century Gothic Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Century Gothic Bold Italic"), url("fonts/GOTHICBI.woff") format("woff");
}
/* gothic */
@font-face {
  font-family: gothic;
  font-style: normal;
  font-weight: 400;
  src: local("gothic"), local("gothic"), url("fonts/gothic?#iefix") format("embedded-opentype"), url("fonts/gothic/GOTHIC.woff2") format("woff2"), url("fonts/gothic/GOTHIC.woff") format("woff"), url("fonts/gothic/gothic.ttf") format("truetype"), url("fonts/gothic/GOTHIC.svg#gothic") format("svg");
}
.header {
  -webkit-box-shadow: 1px 2px 5px 0px #9e9c9e;
  -moz-box-shadow: 1px 2px 5px 0px #9e9c9e;
  box-shadow: #ccc 0 2px 5px;
  box-sizing: border-box;
  padding: 0 15px;
  /* fix row boostrap */
  background-color: #fff;
}

.logo {
  padding: 5px;
}
.logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 140px;
}

.form-search input, .form-search button {
  font-family: Century Gothic Regular;
  height: 50px;
  font-size: 18px;
  border-color: #f44242;
  border-width: 2px;
}
.form-search input {
  border-right: 0;
}
.form-search button {
  background-color: #f44242;
}
.form-search button:hover {
  background-color: #ad000b;
  border-color: #ad000b;
}

.form-search, .link-menu {
  padding: 20px;
}

.link-menu {
  padding: 0px 20px;
  box-sizing: border-box;
}
.link-menu .link, .link-menu .caret {
  font-family: inherit;
  font-size: 16px;
  color: #333;
  margin-right: 20px;
  font-weight: 400;
}
.link-menu .link {
  padding-bottom: 10px;
  margin-bottom: 0;
  display: inline-block;
}
.link-menu .link:hover {
  border-bottom: 2px #f44242 solid;
  text-decoration: none;
}
.link-menu .dropdown:hover .link {
  position: relative;
}
.link-menu .dropdown:hover .dropdown-menu {
  display: block;
}
.link-menu .dropdown-menu {
  border-radius: 0;
  border-top: 0;
  box-shadow: #ccc 0 2px 5px;
}
.link-menu .dropdown-menu li {
  padding: 5px;
}
.link-menu .dropdown-menu li a {
  padding: 10px;
}

#content {
  margin-top: 124px;
}

.form-search .select2-container {
  height: auto;
  background: 0 0;
  box-shadow: none;
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
  vertical-align: middle;
}
.form-search .select2-container .select2-choices {
  border-radius: 2px;
  line-height: 30px;
  border-color: #ccc;
  color: #555;
  background: 0 #fff;
  padding: 0;
  height: auto !important;
  margin: 0;
  position: relative;
  cursor: text;
  overflow: hidden;
  min-height: 26px;
}
.form-search .select2-container .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  float: left;
  list-style: none;
  width: 100%;
}
.form-search .select2-container .select2-choices .select2-search-field .select2-offscreen {
  width: 1px !important;
  height: 1px !important;
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  outline: 0 !important;
  left: 0 !important;
}
.form-search .select2-container .select2-choices .select2-search-field input {
  border-radius: 2px;
  line-height: 30px;
  padding: 6px 12px;
  width: 100% !important;
  border: 2px solid red;
}
.form-search .select2-offscreen {
  width: 1px !important;
  height: 1px !important;
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  outline: 0 !important;
  left: 0 !important;
}

#s2id_autogen1 .select2-display-none {
  display: none;
}
#s2id_autogen1 .select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
#s2id_autogen1 .select2-drop .select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-drop-active {
  border-color: #66afe9;
}

.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.select2-results .select2-ajax-error, .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
  padding-left: 5px;
}

.select2-results li {
  list-style: none;
}

.search-form .select2-container-multi .select2-choices .select2-search-choice {
  line-height: 25px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  color: #555;
  background: #fff;
  border-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
  margin-bottom: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 6px 0 3px 5px;
  position: absolute;
  cursor: default;
  border: 1px solid #aaa;
  border-radius: 3px;
  user-select: none;
}

.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}

.select2-container-multi .select2-search-choice-close {
  left: 3px;
}

.select2-search-choice-close {
  margin-top: -7px;
  top: 50%;
}

.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 19px;
  font-size: 1px;
  outline: 0;
  background: url(../../js/src/libs/select2/select2.png) right top no-repeat;
}

.select2-result-label {
  cursor: pointer;
}
.select2-result-label :hover {
  background-color: #337AB7;
}

@media screen and (min-width: 505px) {
  #content {
    margin-top: 124px;
  }

  .navbar-fixed-top.wrap-header {
    position: fixed;
  }
}
@media screen and (max-width: 505px) {
  #content {
    margin-top: 0px;
  }

  .navbar-fixed-top.wrap-header {
    position: relative;
  }

  .logo {
    text-align: center;
    margin: auto;
    width: auto;
  }

  .link-menu {
    padding: 5px;
  }
  .link-menu .link, .link-menu .caret {
    font-size: 15px;
  }
  .link-menu .link {
    margin-right: 5px;
  }

  .header .cl {
    display: block;
    padding: 5px;
    margin: 1px;
    width: 100%;
    float: none;
  }

  .form-search {
    padding: 5px;
  }
}
.footer {
  background-color: #333;
}
.footer .row-foot {
  margin: 10px 0px;
}
.footer .footer-top {
  background-color: #38393a;
  height: 70px;
  line-height: 3.12;
}
.footer .footer-body {
  color: #999;
}
.footer .footer-body .footer-link {
  margin-top: 10px;
}
.footer .footer-body a {
  color: #999;
}
.footer .footer-body .footer-body-title h4 {
  color: #e8e8e8;
  font-size: 18px;
  font-weight: bold;
  text-shadow: none;
}
.footer .footer-bottom {
  border-top: 1px solid #3d3d3d;
  height: 39px;
  text-align: center;
  line-height: 39px;
  font-size: 14px;
  background: #333;
  color: #b6b6b6;
  margin: 0;
  padding: 0;
}

html, body, div, input, button, select, textarea {
  font-family: gothic;
}

html, body, div, input, button {
  font-size: 16px;
}

body, html {
  color: #666;
  margin: 0;
  padding: 0;
  background-color: #f9f2f4;
}

dd, dl, ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
}

body, button, html, input, select, textarea {
  font-size: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}

h1, h2, h3, h4 {
  font-family: gothic;
  font-weight: bold;
  color: #333;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }
}
/* add to slide */
#slider, .banner_wrapper, .m_tit, .partner .partner-main .title, .row_box div.item, .target, .top_coupons {
  overflow: hidden;
}

.banner_wrapper {
  width: 100%;
  position: relative;
  clear: both;
}

.glide {
  position: relative;
  height: 270px;
  width: 1200px;
  margin: 0 auto;
}

.glide:after, .glide:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.54);
  z-index: 1;
}

.glide:after {
  left: 100%;
}

@media (max-width: 1256px) {
  .glide {
    width: 896px;
  }
}
@media (max-width: 1079px) {
  .glide {
    width: 592px;
    height: 11.25em;
  }
}
@media (max-width: 768px) {
  .glide {
    width: auto;
    margin: 0 16px;
    height: 11.5em;
  }
}
@media (max-width: 690px) {
  .glide {
    height: 9.75em;
  }
}
@media (max-width: 445px) {
  .glide {
    height: 7.5em;
  }
}
@media (max-width: 375px) {
  .glide {
    height: 6.75em;
  }
}
.box, .glide__slide, .glide__wrapper {
  height: 100%;
  width: 100%;
}

.glide__wrapper {
  list-style: none;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.glide__wrapper.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glide__slide {
  -webkit-perspective: 1000;
  perspective: 1000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.box {
  display: block;
}

.glide__arrows {
  position: absolute;
  top: 50%;
  width: 100%;
}

.glide__arrow {
  position: absolute;
  z-index: 2;
  display: block;
  top: -16px;
  width: 32px;
  height: 32px;
  background-color: rgba(50, 50, 50, 0.4);
  border-radius: 50%;
  cursor: pointer;
}

.glide__arrow:hover {
  background-color: rgba(50, 100, 50, 0.5);
}

.glide__arrow:after, .glide__arrow:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 11px;
  top: 50%;
  margin-top: -4px;
}

.glide__arrow:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 4px;
}

.glide__arrow.prev {
  left: -40px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.glide__arrow.next {
  right: -40px;
}

@media (max-width: 768px) {
  .glide__arrow.prev {
    left: 8px;
  }

  .glide__arrow.next {
    right: 8px;
  }
}
.glide__bullets {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  list-style: none;
}

.glide__bullets li {
  display: inline-block;
  background-color: #f0f0f0;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
}

.glide__bullets li:hover {
  background-color: #ccc;
}

.glide__bullets li.active {
  background-color: #ff9800;
}

.glide--carousel .glide__slide {
  float: left;
  clear: none;
}

.glide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.first-owl {
  background-color: #fff;
}
.first-owl h1 {
  margin: 0;
  padding: 20px 5px;
}

.gradient-border-bottom {
  border: 0;
  width: 100%;
  position: relative;
  height: 100%;
  border-radius: 50%;
  background-color: #f8f8f8;
  padding-top: 10px;
  box-sizing: border-box;
}

.gradient-border {
  position: relative;
  border: 0;
  border-radius: 50%;
}

.gradient-border:before {
  position: absolute;
  top: 0;
  content: " ";
  bottom: 0;
  left: 0;
  border: 0;
  z-index: 2;
  border-radius: 50%;
}

.gradient-border:after {
  position: absolute;
  top: 0;
  content: " ";
  bottom: 0;
  right: 0;
  border: 0;
  z-index: 2;
  border-radius: 50%;
}

.first-owl, .owl-pagation {
  text-align: center;
  margin: auto;
}

.first-owl .owl-box {
  text-align: center;
  height: 230px;
}
.first-owl .owl-box .s-name {
  padding: 10px;
  display: block;
  width: 100%;
  color: #333;
}
.first-owl .owl-box .owl-title {
  /* create three dot if full box */
  padding: 5px;
  margin: 1px;
  line-height: 23px;
  height: 50px;
  width: 100%;
  color: #111;
  font-size: 16px;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.first-owl .owl-box .owl-box-img {
  width: 100%;
  min-height: 75px;
  max-height: 80px;
  position: relative;
}
.first-owl .owl-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 75px;
  max-width: 75px;
  margin: auto;
}
.first-owl .owl-box .owl-link {
  font-size: 16px;
  color: #00cc99;
}
.first-owl .owl-pagation .owl-dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: none;
  margin: 7.5px;
  background-color: rgba(255, 51, 0, 0.3);
}
.first-owl .owl-pagation .active {
  background-color: rgba(255, 51, 0, 0.9);
}

.coupons-title-top {
  margin: 20px 10px;
}
.coupons-title-top h1 {
  padding-left: 20px;
}

.coupons-list {
  margin: 20px 10px;
}
.coupons-list .row {
  margin: 0;
}
.coupons-list .col {
  padding-left: 0;
  padding-right: 0;
}
.coupons-list .coupons-border-box {
  border: 1px solid #cdc;
  background-color: #fff;
  margin: 15px;
  padding: 5px;
  display: flex;
  max-height: 214px;
}
.coupons-list .coupons-logo {
  display: inline-block;
  width: 120px;
  min-height: 60px;
  margin-right: 10px;
  vertical-align: middle;
}
.coupons-list .coupons-logo img {
  max-width: 120px;
}
.coupons-list .coupons-content {
  width: -moz-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
}
.coupons-list .coupons-content .coupons-top {
  position: relative;
  display: block;
  height: 36px;
  line-height: 1.4;
}
.coupons-list .coupons-content .coupons-top .cp-store-name {
  font-color: #011abc;
  font-size: 16px;
  border: 1px dotted blue;
  padding: 5px;
  position: absolute;
  left: 1px;
}
.coupons-list .coupons-content .coupons-top .cp-type {
  font-color: #b30000;
  background-color: #ffe6e6;
  border: 1px dashed #ee6762;
  padding: 5px;
  position: absolute;
  right: 1px;
}
.coupons-list .coupons-body {
  padding: 5px;
  margin: 1px;
  margin-bottom: 5px;
  line-height: 23px;
  height: 75px;
  width: 100%;
  color: #111;
  font-size: 16px;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.coupons-list .coupons-body h3 {
  padding: 5px;
  margin: 1px;
  font-weight: bold;
}
.coupons-list .coupons-footer {
  text-align: right;
  display: block;
  width: 100%;
}

@media screen and (max-width: 478px) {
  .coupons-border-box {
    margin: 5px;
  }

  .code_reset {
    width: 80%;
  }
}
@media screen and (max-width: 378px) {
  .coupons-list {
    /* button */
  }
  .coupons-list .coupons-border-box {
    display: block;
    margin: 5px;
    max-height: 100%;
    height: auto;
  }
  .coupons-list .coupons-logo, .coupons-list .coupons-content {
    display: block;
    width: 100%;
    text-align: center;
  }
  .coupons-list .bottom_code {
    float: none;
    margin: auto;
    margin-left: 24px;
    width: 90%;
  }
}
/* for button */
.code_reset {
  width: 60%;
  float: right;
}

@media screen and (min-width: 1200px) {
  .bottom_code, .bottom_deal, .sell_bottom {
    display: inline-block;
    margin-right: 25px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .bottom_code, .bottom_deal, .sell_bottom {
    padding-top: 0 !important;
  }
}
.bottom_re {
  margin-bottom: 6px;
}

.bottom_code .btn-go {
  line-height: 48px;
  position: relative;
  width: 100%;
}

.bottom_code .btn {
  display: block;
  padding: 1px 24px;
  height: 48px;
  max-width: 100%;
  color: #fff;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.coupon_button {
  position: absolute;
  font-size: 14px;
  color: #fff;
  background: #ee6762;
  border: none;
  border-radius: 6px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  padding: 12px 10px;
}

.giv2-text {
  position: relative;
  z-index: 7;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.giv2-code {
  overflow: hidden;
  position: absolute;
  background-color: #f3f3f3;
  color: #000;
  border: dashed 1px #ca5b5b;
  padding: 0 3px 11px 0;
  right: 0;
  top: 0;
  border-radius: 2px;
  letter-spacing: 2px;
  z-index: 4;
  height: 100%;
  min-width: 38px;
  font-weight: 800;
}

.bottom_code .btn-go {
  line-height: 48px;
  position: relative;
  width: 100%;
}

.giv2-cover {
  background-color: #ee6762;
  position: absolute;
  width: 78%;
  top: 0;
  right: 36px;
  z-index: 5;
  height: 100%;
  border-radius: 3px;
}

.giv2-cover:after {
  right: -16px;
  border: 22px solid;
  border-color: transparent transparent #ee6762 #ee6762;
}

.giv2-cover:after {
  content: "";
  position: absolute;
  top: 4px;
}

.giv2-image {
  width: 56px;
  height: 100%;
  position: absolute;
  border-radius: 0 0 4px 4px;
  right: -6px;
  top: 11px;
  -webkit-transition: rotateZ(20deg) translate(0, -10px) scaleX(0.9);
  transition: rotateZ(20deg) translate(0, -10px) scaleX(0.9);
  -webkit-transform: rotateZ(20deg) translate(0, -10px) scaleX(0.9);
  transform: rotateZ(20deg) translate(0, -10px) scaleX(0.9);
  background: -webkit-linear-gradient(52deg, #f57e7a, #f57e7a 49%, rgba(202, 235, 137, 0) 50%, rgba(255, 255, 255, 0));
  background: linear-gradient(44deg, #ffe6e5, #f57e7a 49%, rgba(202, 235, 137, 0) 50%, rgba(255, 255, 255, 0));
  background: -webkit-gradient(44deg, #fec109 0, #ec9f3c 49%, rgba(202, 235, 137, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background: -moz-gradient(44deg, #fec109 0, #ec9f3c 49%, rgba(202, 235, 137, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-gradient(44deg, #fec109 0, #ec9f3c 49%, rgba(202, 235, 137, 0) 50%, rgba(255, 255, 255, 0) 100%);
  background-position: 0 6px;
  background-repeat: no-repeat;
  z-index: 13;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.coupons-getdeal {
  background-color: #3f94e4;
}

.best-deals {
  text-align: center;
  width: 100%;
  clear: both;
  padding: 10px 20px;
}

.deals-list {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0;
  clear: both;
}
.deals-list .deals-item {
  display: inline-block;
  float: left;
  width: 18%;
  max-height: 400px;
  background-color: #fff;
  margin: 8px;
}
.deals-list .deals-item .deals-item-wrap .deals-img {
  text-align: center;
}
.deals-list .deals-item .deals-item-wrap .deals-img img {
  max-width: 200px;
  max-height: 200px;
}
.deals-list .deals-item .deals-item-wrap .deals-desc {
  padding: 5px;
  margin: 1px;
  margin-bottom: 5px;
  line-height: 23px;
  height: 50px;
  width: 100%;
  color: #111;
  font-size: 16px;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.deals-list .deals-item .deals-item-wrap .deals-price {
  font-size: 30px;
  color: #ee6762;
}
.deals-list .deals-item .deals-item-wrap .deals-button .btn {
  background-color: #2da1e3;
  margin: 5px;
  color: #fff;
  font-weight: bold;
  height: 32px;
  width: 65%;
}

@media screen and (max-width: 1148px) {
  .deals-list .deals-item {
    width: 23%;
  }
}
@media screen and (max-width: 950px) {
  .deals-list .deals-item {
    width: 30%;
  }
}
@media screen and (max-width: 710px) {
  .deals-list .deals-item {
    width: 46%;
  }
}
@media screen and (max-width: 478px) {
  .best-deals {
    padding: 5px;
  }

  .deals-list .deals-item {
    width: 99%;
    margin: 5px 0;
  }
}
.blog-news {
  text-align: center;
  width: 100%;
  clear: both;
  padding: 10px 20px;
}

.blog-list {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0;
}
.blog-list .blog-item {
  display: inline-block;
  float: left;
  width: 18%;
  max-height: 400px;
  background-color: #fff;
  margin: 8px;
}
.blog-list .blog-item .blog-item-wrap .blog-img {
  text-align: center;
}
.blog-list .blog-item .blog-item-wrap .blog-img img {
  max-width: 200px;
  max-height: 200px;
}
.blog-list .blog-item .blog-item-wrap .blog-item-title, .blog-list .blog-item .blog-item-wrap .blog-item-desc {
  text-align: left;
  padding: 5px;
  margin: 1px;
  margin-bottom: 5px;
  line-height: 24px;
  height: 100px;
  width: 100%;
  color: #111;
  font-size: 16px;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  position: relative;
}
.blog-list .blog-item .blog-item-wrap .blog-item-desc {
  -webkit-line-clamp: 4;
  font-size: 13px;
}
.blog-list .blog-item .blog-item-wrap .blog-item-title {
  max-height: 35px;
  -webkit-line-clamp: 1;
}
.blog-list .blog-item .blog-item-wrap .blog-item-title h4 {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 1148px) {
  .blog-list .blog-item {
    width: 23%;
  }
}
@media screen and (max-width: 950px) {
  .blog-list .blog-item {
    width: 30%;
  }
}
@media screen and (max-width: 710px) {
  .blog-list .blog-item {
    width: 46%;
  }
  .blog-list .blog-item .blog-item-wrap .blog-item-title {
    max-height: 35px;
  }
}
@media screen and (max-width: 478px) {
  .best-deals {
    padding: 5px;
  }

  .blog-list .blog-item {
    width: 99%;
    margin: 5px 0;
  }
}
.popular-store {
  margin-top: 20px;
}
.popular-store .wrap-popular-store {
  border: 1px solid #abc;
  background: #fff;
  clear: both;
  padding: 20px;
  margin: 20px 0px;
  border-width: 1px 0;
}
.popular-store .wrap-popular-store .col-g {
  margin-top: 10px;
}
.popular-store .wrap-popular-store a {
  margin: 20px 5px;
}

h1 {
  font-size: 22px;
  color: #333;
}

/*# sourceMappingURL=home.css.map */
